---
export const prerender = false;
const { contents } = Astro.props;
---

<div class="overflow-x-auto">
  <table class="table table-zebra">
    <tr>
      <th>Pathname</th>
      <th>Route</th>
      <th>Value</th>
      <th>Rating</th>
      <th>Timestamp</th>
    </tr>
    {
      contents.map(({ pathname, route, value, rating, timestamp }) => (
        <tr>
          <td>{pathname}</td>
          <td>{route}</td>
          <td>{value}</td>
          <td>{rating}</td>
          <td>{timestamp}</td>
        </tr>
      ))
    }
  </table>
</div>
